* {
  padding: 0;
  margin: 0;
  text-align: center;
}

li {
  border-bottom: solid;
  border-width: 1px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.mainContainer {
  margin: 0 auto;
  max-width: 1120px;
  width: fit-content;
}

.header {
  padding: 10px;
  background-color: #1976D2;
  text-align: left;
}

.stopwatch-main {
  border: 1px solid #adb3ba;
  border-radius: 8px;
  color: #1976D2;
  margin: 10px;
  padding: 10px;
}

.stopwatch-item {
  align-items: center;
  color: #1976D2;
  display: flex;
  gap: 20px;
  padding-top: 4px;
  padding-bottom: 4px;
}

.timer {
  border: solid;
  border-color: #1976D2;
  border-width: 1px;
  border-radius: 16px;
}

.timer--margin-and-padding-bigger {
  margin: 20px;
  padding: 10px;
}

.timer-element--margin-and-padding-smaller {
  margin: 2px;
  padding: 2px;
}

.buttons-div {
  display: flex;
}

.buttons-div--content-justify-content {
  justify-content: space-between;
}

.buttons-div--content-gap {
  gap: 20px;
}